.bicicletas {
  max-width: 1400px;
  margin: 0 auto;
  padding: 120px 20px;
}
.bicicletas h2 {
  padding: 52px;
  max-width: 1200px;
}

.bicicletas-lista {
  display: flex;
  gap: 40px;
}

.bicicletas-lista a{
display: block;
}

.bicicletas-lista img {
  max-width: 100%;
}

.bicicletas-lista .descricoes {
  padding: 20px;
}

.bicicletas-lista .descricoes h3 {
  color: var(--cor-11);
  font-size: 3.2rem;
  display: flex;
  align-items: center;
}
.bicicletas-lista h3::before {
  content: "";
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  display: inline-block;
  margin-right: 8px;
  transition: ease-in-out 0.2s;
}
.bicicletas-lista a:hover h3::before{
  width: 24px;
}

.bicicletas-lista .descricoes p{
  color: var(--cor-8);
  font-size: 1.8rem;
  line-height: 1.9;
  padding-left: 20px;
  font: var(--roboto-m);
}