.container1, .container2, .container3{
  margin: 0 auto;
  padding: 0 20px;
}
.container1{
  max-width: 1200px;
}
.container2{
  max-width: 1300px;
}
.container3{
  max-width: 1400px;
}

.titulo-bg{
  background-color: var(--cor-11);
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--cor-0);
}

.ponto{
  color: var(--cor-p1);
}

.btn {
  display: inline-block;
  color: var(--cor-p5);
  background: var(--gradiente);
  font: var(--poppins-mb);
  padding: 16px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background: var(--gradiente-destaque);
}

.btn.secundario{
  background: var(--cor-10);
  color: var(--cor-4);
}
.btn.secundario:hover{
  background: var(--cor-9);
}

.link{
  display: inline-block;
  font: var(--poppins-l);
  color: var(--cor-p1);
  text-transform: uppercase;
  border-bottom: 4px solid var(--cor-p1);
  position: relative;
}

.link:hover{
  color: var(--cor-1);
  border-bottom: 4px solid var(--cor-1);
}

.detalhe::before{
  content: "";
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  display: inline-block;
  margin-right: 8px;
  transition: ease-in-out 0.2s;
}