.preco {
  color: var(--cor-5);
  font: var(--roboto-xl);
}

.bicicleta-interna {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  color: var(--cor-5);
  align-items: flex-start;
}

.bicicleta-interna .fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bicicleta-interna .fotos a {
  flex: 1;
  min-width: 200px;
}
.bicicleta-interna .fotos a:first-child {
  min-width: 100%;
}

.conteudo > p {
  font: var(--roboto-l);
}

.bicicleta-comprar {
  padding-top: 32px;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 8px 12px;
  align-items: center;
  justify-items: start;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  padding: 4px 8px;
  background-color: var(--cor-12);
  border-radius: 4px;
  gap: 8px;
  align-items: center;
}

.bicicleta-interna .informacoes {
  padding: 40px 0;
}

.subtitulo.secudario {
  font-size: 1.2rem;
  color: var(--cor-0);
  padding-bottom: 12px;
  letter-spacing: 0.02em;
}

.bicicleta-interna .informacoes ul,
.ficha ul {
  background-color: var(--cor-12);
  padding: 32px;
  border-radius: 4px;
}

.bicicleta-interna .informacoes ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  column-gap: 8px;
}

.bicicleta-interna .informacoes ul img {
  width: 20px;
}
.bicicleta-interna .informacoes ul h3 {
  font: var(--poppins-mb);
  color: var(--cor-0);
  padding-bottom: 8px;
}

.bicicleta-interna .informacoes ul p {
  font: var(--roboto-s);
  font-size: 1.4rem;
}

.ficha ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
  padding: 4px 0;
}

.ficha ul li:last-child {
  border-bottom: none;
}

.ficha ul li p {
  font: var(--roboto-s);
  color: var(--cor-4);
}

@media (max-width: 800px) {
  .preco {
    font-size: 2.4rem;
  }
  .bicicleta-interna {
    gap: 16px;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .bicicleta-interna .fotos {
    grid-row: 2;
  }
  .conteudo > p {
    font-size: 2rem;
  }
  .bicicleta-comprar {
    padding-top: 8px;
  }
}

@media (max-width: 450px) {
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
  .bicicleta-interna .informacoes ul {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .bicicleta-interna .informacoes ul h3{
    padding-bottom: 0;
  }
}
