.bicicleta-bg {
  background: linear-gradient(to right, var(--cor-0) 20%, var(--cor-11) 0%);
}
.bicicleta-bg .bicicleta h2 {
  color: var(--cor-0);
}
.bicicleta-bg .bicicleta p {
  color: var(--cor-5);
}

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta img {
  height: 100%;
  object-fit: cover;
  object-position: bottom right;
}

.bicicleta-img {
  position: relative;
}
.bicicleta-img > span {
  position: absolute;
  background-color: var(--cor-12);
  color: var(--cor-0);
  font: var(--roboto-m);
  padding: 8px;
  padding-right: 16px;
  border-radius: 4px 0 0 4px;
  right: 0;
  top: 20px;
}

.bicicleta-vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(../../img/dec/top-right.svg) no-repeat top right;
}

.bicicleta-vantagens h2,
.bicicleta-vantagens p {
  grid-column: 1/-1;
}

.bicicleta-vantagens h2 {
  padding-top: 16px;
  font: var(--poppins-xl);
  color: var(--cor-11);
}
.bicicleta-vantagens h2::before {
  content: "";
  display: block;
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  margin-bottom: 8px;
  transition: ease-in-out 0.2s;
}

.bicicleta-vantagens > p {
  font: var(--roboto-m);
  color: var(--cor-8);
  padding: 20px 0;
  max-width: 45ch;
}

.vantagens-item li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}
.vantagens-item li img {
  width: 24px;
  height: 24px;
}
.vantagens-item li p {
  font: var(--poppins-m);
  color: var(--cor-8);
  width: max-content;
}

@media (max-width: 900px) {
  .bicicleta-bg {
    background: var(--cor-11);
  }
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta {
    gap: 20px;
  }
  .bicicleta-vantagens h2 {
    font-size: 2.4rem;
  }
  .bicicleta-vantagens p,
  .vantagens-item li p {
    font-size: 1.6rem;
  }
}

@media (max-width: 450px) {
  /* .bicicleta-img img {
    height: 300px;
    width: 100%;
    object-position: center;
  } */
  .bicicleta-vantagens {
    grid-template-columns: 1fr;
  }
  .bicicleta-vantagens h2{
    padding-top: 0px;
  }
  .bicicleta-vantagens > p{
    padding: 12px 0;
  }
  .vantagens-item{
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .vantagens-item li{
    padding: 4px 0;
  }
  .btn.seta{
    justify-self: flex-start;
    font-size: 1.6rem;
  }
}
