.perguntas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas dl {
  padding-top: 80px;
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}
.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas dt {
  font: var(--poppins-mb);
  color: var(--cor-11);
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas dt::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
}

.perguntas dt::after {
  content: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}
.perguntas dt:hover:after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-top: 12px;
  padding-left: 20px;
  font: var(--roboto-s);
  color: var(--cor-9);
  max-width: 120ch;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .perguntas dl {
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .perguntas .titulo{
    font-size: 2.8rem;
  }
  .perguntas dl {
    padding-top: 20px;
  }
  .perguntas dl > div {
    padding: 20px;
  }
  .perguntas dt{
    font-size: 1.6rem;
  }
  .perguntas dd{
    font-size: 1.2rem;
    padding-top: 8px;
  }
}
