.perguntas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas ul {
  padding-top: 80px;
}

.perguntas ul > li {
  padding: 20px;
  border-radius: 4px;
}
.perguntas ul > li:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas h4 {
  font: var(--poppins-mb);
  color: var(--cor-11);
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas h4::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
}

.perguntas h4::after {
  content: url("../../img/icones/seta-abrir.svg");
  transition: 0.3s;
}

.perguntas .item .resposta{
  padding-top: 12px;
  padding-left: 20px;
  font: var(--roboto-s);
  color: var(--cor-9);
  max-width: 120ch;
  display: none;
}

.perguntas .item.ativo .item h4::after{
  transform: rotate(180deg);
}
.perguntas .item.ativo .resposta{
  display: block;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .perguntas ul {
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .perguntas .titulo{
    font-size: 2.8rem;
  }
  .perguntas ul {
    padding-top: 20px;
  }
  .perguntas ul > li {
    padding: 20px;
  }
  .perguntas h4{
    font-size: 1.6rem;
  }
  .perguntas p{
    font-size: 1.2rem;
    padding-top: 8px;
  }
}
