.seguros-bg {
  background-color: var(--cor-11);
}

.seguros {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
#seguros .seguros {
  padding: 40px 0;
}

.seguros .titulo {
  color: var(--cor-0);
  text-transform: lowercase;
  grid-column: 1 / -1;
}

.seguros-plano {
  background-color: var(--cor-12);
  padding: 32px;
  padding-left: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.seguros-plano h3 {
  font: var(--poppins-xl);
  text-transform: uppercase;
  color: var(--cor-6);
}
.seguros-plano:last-child h3 {
  color: var(--cor-p1);
}

.seguros-preco {
  color: var(--cor-0);
  font: var(--poppins-xl);
  text-align: right;
}
.seguros-preco span {
  grid-column: 2;
  display: block;
  font: var(--poppins-xs);
  color: var(--cor-6);
}

.seguros-plano ul {
  grid-column: 1 / -1;
  color: var(--cor-0);
  font: var(--roboto-m);
  line-height: 2;
  position: relative;
}

.seguros-plano ul li {
  display: flex;
  align-items: center;
}
.seguros-plano ul li::before {
  content: "";
  background-image: url("../../img/icones/lista.svg");
  width: 12px;
  height: 8px;
  position: absolute;
  left: -24px;
}

.seguros-plano .btn,
.seguros-plano .btn.secundario {
  grid-column: 1/-1;
  justify-self: start;
}

@media (max-width: 850px) {
  .seguros {
    grid-template-columns: 1fr;
    padding: 32px;
  }
  .seguros-plano h3,
  .seguros-plano .seguros-preco {
    font-size: 2.8rem;
  }
}

@media (max-width: 450px) {
  .seguros-plano h3,
  .seguros-plano .seguros-preco {
    font-size: 2rem;
  }
  .seguros-plano ul {
    font-size: 1.4rem;
  }
  .seguros-plano .btn {
    font-size: 1.4rem;
  }
}
