.seguros-vantagens {
  background-color: var(--cor-12);
  color: var(--cor-0);
  padding-top: 120px;
  padding-bottom: 120px;
}

.seguros-vantagens h2 {
  padding-bottom: 60px;
}

.seguros-vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
  gap: 40px 80px;
}

.seguros-vantagens img {
  width: 32px;
}

.seguros-vantagens h3 {
  font: var(--poppins-l);
  font-weight: 500;
}

.seguros-vantagens p {
  font: var(--roboto-s);
  color: var(--cor-6);
}

@media (max-width: 800px){
  .seguros-vantagens{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 600px){
    .seguros-vantagens ul li{
      background-color: var(--cor-11);
      border-radius: 4px;
      padding: 20px;
    }
}