.rodape-bg {
  background-color: var(--cor-12);
}

.rodape {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  gap: 120px;
  color: var(--cor-0);
  padding-top: 60px;
  padding-bottom: 32px;
}

.contato h3,
.informacoes h3 {
  color: var(--cor-0);
  font: var(--roboto-l);
  text-transform: uppercase;
  padding-bottom: 16px;
}

.contato p {
  padding: 8px 0;
  font: var(--roboto-m);
  color: var(--cor-5);
}
.contato .contato-dados :nth-child(2),
.contato .contato-dados :nth-child(4) {
  border-bottom: 2px solid var(--cor-11);
  padding-bottom: 16px;
}

.redes {
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 20px 0;
}
.redes .fa-facebook, .redes .fa-instagram, .redes .fa-youtube{
  width: 32px;
  height:32px;
  color: var(--cor-0);
}

.redes li{
  transition: ease-in-out 0.2s;
}
.redes li:hover{
  transform: scale(1.2,1.2);
}

.informacoes ul li {
  font: var(--poppins-m);
  color: var(--cor-5);
  padding: 10px 0;
}
.informacoes ul a:hover {
  color: var(--cor-0);
}

.direitos {
  font: var(--roboto-m);
  color: var(--cor-6);
  padding-top: 32px;
  padding-bottom: 32px;
}
