.lojas {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cor-1);
}

.lojas-item {
  padding-top: 60px;
  display: flex;
  gap: 40px;
}

.local {
  background-color: var(--cor-0);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.local > img {
  border-radius: 4px 4px 0 0;
  min-height: 180px;
  object-fit: cover;
  position: left;
}

.local-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  padding-left: 60px;
}

.lojas-item h3 {
  font: var(--poppins-xl);
  grid-column: 1/-1;
}

.lojas-item .local-descricao {
  font: var(--roboto-s);
  color: var(--cor-8);
  margin: 32px 0;
  border-left: 2px solid var(--cor-2);
  padding-left: 12px;
  line-height: 2;
}

.lojas-item .local-descricao a {
  display: block;
}

.local-conteudo > p {
  font: var(--poppins-s);
  color: var(--cor-12);
  font-weight: 500;
  display: flex;
  gap: 8px;
  grid-column: 1/-1;
  align-items: center;
}

@media (max-width: 900px) {
  .lojas {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .lojas .titulo {
    padding-bottom: 0;
  }
  .local-conteudo {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .lojas-item h3 {
    font-size: 2.4rem;
  }
  .lojas-item .local-descricao {
    margin: 12px 0;
  }
}

@media (max-width: 600px) {
  .lojas-item {
    flex-wrap: wrap;
    padding: 34px;
    grid-template-columns: 1fr;
  }
}
