.introducao-bg {
  background-color: var(--cor-12);
  position: relative;
  box-shadow: inset 0 -60px 0 var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.introducao-informacao {
  padding: 140px 0;
}

.introducao-informacao h1 {
  color: var(--cor-0);
  padding-bottom: 32px;
}

.introducao-informacao p {
  color: var(--cor-5);
  font: var(--roboto-l);
  padding-bottom: 20px;
}

.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1200px){
  
  .introducao-informacao h1{
    font-size: 4.8rem;
    padding-bottom: 20px;
  }
  .introducao-informacao p{
    font-size: 2rem;
  }
}
@media (max-width:850px){
  .introducao{
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .introducao-informacao{
    padding: 0;
  }
  .introducao-informacao h1{
    font-size: 4.8rem;
    padding-bottom: 20px;
  }
  .introducao img{
    max-height: 400px;
    object-fit: cover;
    object-position: center 30%;
  }
}