.tecnologias-bg{
  background-color: var(--cor-11);
  box-shadow:inset 0 80px 0 var(--cor-0), inset 0 -80px 0 var(--cor-0);
}

.tecnologias{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologias-conteudo{
  padding: 160px 0;
  gap: 80px;
}

.tecnologias-conteudo > span{
  display: block;
  font: var(--roboto-m);
  color: var(--cor-5);
  text-transform: uppercase;
}

.tecnologias-conteudo h1{
  color: var(--cor-0);
  text-transform: lowercase;
  padding: 20px 0;
}

.tecnologias-conteudo > p{
  font: var(--roboto-l);
  color: var(--cor-5);
  padding: 20px 0;
}

.btn-escolha-modelo{
  font: var(--poppins-l);
  text-transform: uppercase;
  color: var(--cor-p1);
  position: relative;
  display: inline-block;
  border-bottom: 4px solid var(--cor-p1);
}

.btn-escolha-modelo:hover{
  color: var(--cor-1);
  border-bottom: 4px solid var(--cor-1);
}

.tecnologias-vantagens{
  font: var(----poppins-l);
  display: flex;
  gap: 40px;
  padding-top: 80px;
}

.tecnologias-itens h4{
  font: var(--poppins-l);
  color: var(--cor-0);
  padding: 8px 0;
  width: max-content;
}

.tecnologias-itens p{
  font: var(--roboto-s);
  color: var(--cor-5);
}

.tecnologias-itens img{
  width: 24px;
}

.tecnologias-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left center;
}