.seguros-bg {
  background-color: var(--cor-11);
}

.seguros {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.seguros h2 {
  color: var(--cor-0);
  padding-top: 60px;
  text-transform: lowercase;
}

.planos {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 60px 0;
}

.seguros-item {
  background-color: var(--cor-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  padding-left: 64px;
  width: 100%;
}

.prata h3,
.ouro h3 {
  font: var(--poppins-xl);
  text-transform: uppercase;
}
.prata h3 {
  color: var(--cor-6);
}
.ouro h3 {
  color: var(--cor-p1);
}

.prata h2,
.ouro h2 {
  font: var(--poppins-xl);
  text-transform: uppercase;
  display: inline;
  position: relative;
}
.prata h2 {
  color: var(--cor-6);
}
.ouro h2 {
  color: var(--cor-p1);
}

.seguros-preco {
  color: var(--cor-0);
  font: var(--poppins-xl);
  text-align: right;
  position: relative;
}
.seguros-preco span {
  font: var(--poppins-xs);
  color: var(--cor-6);
  text-align: end;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.seguros-item ul {
  color: var(--cor-0);
  font: var(--roboto-m);
  line-height: 2;
  position: relative;
  padding: 40px 0 32px 0;
}
.seguros-item ul li::before {
  content: url("../../img/icones/lista.svg");
  position: absolute;
  left: -24px;
}

.seguros-item .btn,
.seguros-item .btn-secundario {
  grid-column: 1;
  justify-self: start;
}

