.seguros-bg {
  background-color: var(--cor-11);
}

.seguros {
  padding-top: 60px;
}

.seguros h2 {
  color: var(--cor-0);
  text-transform: lowercase;
}

.planos {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 60px 0;
  justify-content: center;
}

.seguro-plano {
  background-color: var(--cor-12);
  padding: 32px;
  padding-left: 64px;
  width: 100%;
}

.plano-item {
  display: flex;
  justify-content: space-between;
}

.seguro-plano h3 {
  font: var(--poppins-xl);
  text-transform: uppercase;
}
.seguro-plano:first-child h3 {
  color: var(--cor-6);
}
.seguro-plano:last-child h3 {
  color: var(--cor-p1);
}

.seguros-preco {
  color: var(--cor-0);
  font: var(--poppins-xl);
  text-align: right;
  position: relative;
}
.seguros-preco span {
  font: var(--poppins-xs);
  color: var(--cor-6);
  text-align: end;
  position: absolute;
  right: 0;
  bottom: -16px;
}

.seguro-plano ul {
  color: var(--cor-0);
  font: var(--roboto-m);
  line-height: 2;
  position: relative;
  padding: 40px 0 32px 0;
}
.seguro-plano ul li::before {
  content: url("../../img/icones/lista.svg");
  position: absolute;
  left: -24px;
}

.seguro-plano .btn,
.seguro-plano .btn-secundario {
  grid-column: 1;
  justify-self: start;
}

@media (max-width: 800px) {
  .seguros .titulo {
    font-size: 4rem;
  }
  .planos {
    flex-direction: column;
    padding-top: 32px;
  }
  .seguro-plano h3, .seguro-plano .seguros-preco{
    font-size: 2.4rem;
  }
}
